body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
}

label {
    display: block;
    margin: 10px 0;
    text-align: center;
}

input[type="text"] {
    width: 50%; 
    padding: 10px;
    margin: 0 auto;
    display: block; 
    border: 1px solid #ccc;

}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #0056b3;
}

#data-output {
    background-color: white;
    width: 50%; 
    padding: 10px;
    margin: 0 auto;
    display: block;
    border: 1px solid #ccc;
}